<div>
  <div class="p-card page-border p-4 animation-card">
    <div class="row">
      <div class="col d-sm-inline-flex">
      <h3 class="fondo-textoS">EDUCACIÓN</h3> 
      <button pButton type="button" 
      class="p-button-rounded float-end ms-3" 
      icon="pi pi-plus" iconPos="left" 
      title="Agregar"
      [routerLink]="'/educacion/agregar'"
      ></button>
      </div>
    </div>
     <hr>
      <ul>
        <li *ngFor="let education of educations">
            <div class="grid page-border page-card"  style="flex-wrap: nowrap;">
              <div class="col-auto mt-1 pl-1 pe-1">
               <span *ngIf="education.img"><img src="{{urlserver}}/uploads/img/{{education.img}}" 
                class="imagen-card" style="cursor: pointer;" [routerLink]="['/educacion/editar', education.id]"></span>
                <span *ngIf="!education.img"><img src="{{urlserver}}/images/image_add_fill_icon.png" 
                  class="imagen-card" style="cursor: pointer;" [routerLink]="['/educacion/editar', education.id]"></span>
              </div>
            <div class="col-sm-8 col-lg-10 p-2">
            <h4>{{education.school}}</h4>
            <h5>{{education.title}}</h5>
            <span>{{education.career}}</span><br>
            <span><time>{{education.startDate | date: 'MMM y'}}</time></span>
            <span> - </span>
            <span *ngIf="education.endDate"><time>{{education.endDate | date: 'MMM y'}}</time></span>
            <span *ngIf="!education.endDate"><time>hasta la </time></span>
            <span *ngIf="!education.endDate"><time>fecha</time></span>
            <br>
            <span>Comentarios: {{education.comments}}</span>
          </div>
          <div class="col-auto d-block pt-2">
            <div>
              <button pButton pRipple icon="pi pi-pencil" 
            class="p-button-rounded p-button-success "
            [routerLink]="['/educacion/editar', education.id]"
            title="Editar"
            ></button>
            </div>
            <div>
               <button pButton pRipple icon="pi pi-trash" 
            class="p-button-rounded p-button-warning mt-2"
            [routerLink]="['/educacion/eliminar', education.id]"
            title="Eliminar"
            ></button>
            </div>          
          </div>  
         </div>   
        </li>
</ul>  
</div>
</div>

  
