<div>
  <div class="p-card page-border p-4">
    <div class="row">
      <div class="col d-sm-inline-flex">
      <h2>Educación</h2> 
      <button pButton type="button" 
      class="p-button-rounded float-end ms-3" 
      icon="pi pi-plus" iconPos="left" 
      title="Agregar"
      [routerLink]="'/educacion/agregar'"
      ></button>
      </div>
    </div>
     <hr>
      <ul>
        <li *ngFor="let education of educations">
          <div class="grid page-border page-card mt-3 me-3">
            <div class="col-11">
            <h4>{{education.school}}</h4>
            <h5>{{education.title}}</h5>
            <span>{{education.career}}</span><br>
            <span><time>{{education.startDate | date: 'MMM y'}}</time></span>
            <span> - </span>
            <span *ngIf="education.endDate"><time>{{education.endDate | date: 'MMM y'}}</time></span>
            <span *ngIf="!education.endDate"><time>hasta la </time></span>
            <span *ngIf="!education.endDate"><time>fecha</time></span>
            <br>
            <span>Comentarios: {{education.comments}}</span>
          </div>
          <div class="col-1">

            <button pButton pRipple icon="pi pi-pencil" 
            class="p-button-rounded p-button-success mt-1 ml-3"
            [routerLink]="['/educacion/editar', education.id]"
            title="Editar"
            ></button>
            <button pButton pRipple icon="pi pi-trash" 
            class="p-button-rounded p-button-warning mt-3 ml-3"
            [routerLink]="['/educacion/eliminar', education.id]"
            title="Eliminar"
            ></button>
  </div>  
</div>   
</li>
</ul>  
</div>
</div>

  
