<h3>{{(curso.id)? ((elimina)? 'Borrar': 'Editar') : 'Agregar'}} Curso o Certificación</h3>
<hr>
<form (ngSubmit)="confirm()" autocomplete="off" [formGroup]="addCourseForm" enctype="multipart/form-data">
    <div class="p-fluid grid pt-3">
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
                <i class="bi bi-award-fill"></i>
                <input type="text" pInputText formControlName="name" id="name">
                <label for="name">Nombre del curso o certificación</label>
            </span>
            <span 
            class="form-text text-danger"
            *ngIf="campoEsValido('name')">
            El nombre es requerido</span>    
        </div>
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
                <i class="bi bi-building"></i>
                <input type="text" pInputText formControlName="issuingAuthority" id="issuingAuthority">
                <label for="issuingAuthority">Institución o autoridad emisora</label>
            </span>
            <span 
            class="form-text text-danger"
            *ngIf="campoEsValido('issuingAuthority')"   >
            Institución o autoridad emisora es requerido</span>    
        </div>

        <div class="field col-12 md:col-12">
            <span class="p-float-label">
                <p-calendar formControlName="expeditionDate" id="expeditionDate" dataType="string"></p-calendar>
                <label for="expeditionDate">Fecha de expedición</label>
            </span>
            <span 
            class="form-text text-danger"
            *ngIf="campoEsValido('expeditionDate')"   >
            La fecha de expedición es requerida</span>    
        </div>

        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-hashtag"></i>
                <input type="text" pInputText formControlName="credentialId" id="credentialId">
                <label for="credentialId">Id de la Credencial</label>
            </span>
        </div>

        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-link"></i>
                <input type="text" pInputText formControlName="credentialUrl" id="credentialUrl">
                <label for="credentialUrl">Url de la Credencial</label>
            </span>
        </div>

        <div class="field col-12 md:col-12">
            <span class="p-float-label">
                <textarea pInputTextarea formControlName="comments"></textarea>
                <label for="comments">Comentarios</label>
            </span>
        </div>


        <div *ngIf="edita" class="field col-12 md:col-12">
            <div class="row" style="align-items: center;">
                <div class="col-10">
                    <input (change)="seleccionarFoto($event)" type="file" class="form-control p-inputtext"
                        id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                <div class="col-2">
                    <button pButton type="button" (click)="subirFoto()" [disabled]="!fotoSeleccionada"
                        class="p-button-help" id="inputGroupFileAddon04" icon="pi pi-check" iconPos="left"
                        label="Subir"></button>
                </div>
                <span>
                    <div *ngIf="progreso > 0" class="progress" style="height: 25px;">
                    <div class="progress-bar progress-bar-striped progress-bar" role="progressbar"
                        attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{width: progreso +'%'}">
                        {{progreso}}%
                    </div>
                </div> 
                </span>
                <span>
                    <ul *ngIf="fotoSeleccionada">
                        <li>Nueva imagen: {{fotoSeleccionada.name}} - {{fotoSeleccionada.size}} bytes</li>
                    </ul>
                    <span *ngIf="curso?.img"><img src="{{urlserver}}/uploads/img/{{curso.img}}"
                            class="imagen-card"> {{curso.img}}</span>
                </span>            
            </div>
        </div>
      
    </div>
    <div *ngIf="!elimina">
        <button pButton type="submit" label="Confirmar" icon="pi pi-check" class="float-end"
            [disabled]="addCourseForm.invalid"></button>
    </div>
    <div *ngIf="elimina">
        <button pButton type="button" label="Borrar" icon="pi pi-times" class="float-end p-button-warning"
            (click)="borrar()"></button>
    </div>

    <button pButton type="button" label="Cancelar" class="p-button-secondary float-end me-2"
        [routerLink]="'/cursos'"></button>
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h5>Se {{(curso.id)? ((elimina)? 'eliminará' : 'actualizará') : 'agregará'}} el curso o certificación</h5>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton class="p-button-danger" icon="pi pi-times" label="No"
                (click)="cd.reject()"></button>
            <button type="button" pButton class="p-button-success" icon="pi pi-check" label="Si"
                (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</form>