<div>
  <div class="p-card page-border p-4">
    <div class="row">
      <div class="col d-sm-inline-flex">
      <h2>Experiencia</h2> 
      <button pButton type="button" 
      class="p-button-rounded float-end ms-3" 
      icon="pi pi-plus" iconPos="left" 
      title="Agregar"
      [routerLink]="'/experiencia/agregar'"
      ></button>
      </div>
    </div>
    <hr>
    <ul>
        <li *ngFor="let experience of experiences; let i = index">
          <div class="grid page-border page-card" style="flex-wrap: nowrap;">
            <div class="col-auto mt-1 pl-1 pe-1">
              <span *ngIf="experience.img"><img src="http://localhost:8080/uploads/img/{{experience.img}}" 
               class="imagen-card" style="cursor: pointer;" [routerLink]="['/experiencia/editar', experience.id]"></span>
               <span *ngIf="!experience.img"><img src="http://localhost:8080/images/image_add_fill_icon.png" 
                 class="imagen-card" style="cursor: pointer;" [routerLink]="['/experiencia/editar', experience.id]"></span>
             </div>
            <div class="col-sm-8 col-lg-10 p-2">
            <h4>{{experience.position}}</h4>
            <span><b>Modalidad:</b> {{experience.mode.name}}</span><br>
            <span><b>Empresa:</b> {{experience.company}}</span><br>
            <span><b>Ubicación:</b> {{experience.location}}</span><br>
            <span><time>{{experience.startDate | date: 'MMM y'}}</time></span>
            <span> - </span>
            <span *ngIf="experience.endDate"><time>{{experience.endDate | date: 'MMM y'}}</time></span>
            <span *ngIf="!experience.endDate"><time>hasta la </time></span>
            <span *ngIf="!experience.endDate"><time>fecha</time></span>
            <br>
            <p *ngIf="experience.comments !== ''"><b>Comentarios:</b> {{experience.comments}}</p>
          </div>
          <div class="col-auto d-block pt-2">
            <div>
              <button pButton pRipple icon="pi pi-pencil" 
            class="p-button-rounded p-button-success "
            [routerLink]="['/experiencia/editar', experience.id]"
            title="Editar"
            ></button>
            </div>
            <div>
               <button pButton pRipple icon="pi pi-trash" 
            class="p-button-rounded p-button-warning mt-2"
            [routerLink]="['/experiencia/eliminar', experience.id]"
            title="Eliminar"
            ></button>
            </div>          
          </div>   
        </div>   
        </li>
    </ul>  
  </div>
</div>







