
.imgArgProg{
    width: 200px;
}

.imgPerfil{
    border-radius: 50%;
    width: 255px;
    position: absolute;
    margin-top: -252px;
    z-index: 1;
}


.border-bottom{
    border-bottom: 1px solid #ADB9D3 !important;
}

.anchoCarousel{
    margin-left: 100px;
}

.imgCarousel{
    height: 250px;
    border-radius: 24px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

h1{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: bold;
    font-size: 1.2em !important;
    color: #ADB9D3;
}

h1:hover{
    font-size: 1.3em !important;
    color: #fafafa;
    text-shadow: 0 4px 17px rgba(255, 255, 255, 0.35);
}

.iconRed{
    margin: 0px 7px;
    font-size: 1.5em;
    color: #ADB9D3;
    cursor: pointer;
}

.iconRed.iconRedF:hover{
    color: #3B5998;
    font-size: 2.3em;
}


.iconRed.iconRedI:hover{
   color: #bb0f90;
   font-size: 2.3em;
}


.iconRed.iconRedL:hover{
    color: #0e76a8;
    font-size: 2.3em;
}

.iconRed.iconRedG:hover{
    color: #fafafa;
    font-size: 2.3em;
}