

<div>
    <div class="p-card page-border p-4">
          <h2>Portfolio</h2>
          <hr>
          <div class="grid page-border page-card mt-3 me-3">
            <div class="col-11">
              <textarea rows="12" cols="120" pInputTextarea [(ngModel)]="data" [disabled]="!editing" [autoResize]="true"></textarea>
            </div>
          <div class="col-1">
            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil" (click)="editar()" class="p-button-rounded"></button>
            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check" (click)="guardar()" class="p-button-rounded p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-times" (click)="cancelar()" class="p-button-rounded p-button-danger mt-2"></button>
        </div>  
       </div>  
    
</div>
