<div>
  <div class="p-card page-border p-4">
    <div class="row">
      <div class="col d-sm-inline-flex">
      <h2>Cursos y Certificaciones</h2> 
      <button pButton type="button" 
      class="p-button-rounded float-end ms-3" 
      icon="pi pi-plus" iconPos="left" 
      title="Agregar"
      [routerLink]="'/cursos/agregar'"
      ></button>
      </div>
    </div>
      <hr>
      <ul>
          <li *ngFor="let course of courses">
            <div class="grid page-border page-card"  style="flex-wrap: nowrap;">
              <div class="col-auto mt-1 pl-1 pe-1">
               <span *ngIf="course.img"><img src="http://localhost:8080/uploads/img/{{course.img}}" 
                class="imagen-card" style="cursor: pointer;" [routerLink]="['/cursos/editar', course.id]"></span>
                <span *ngIf="!course.img"><img src="http://localhost:8080/images/image_add_fill_icon.png" 
                  class="imagen-card" style="cursor: pointer;" [routerLink]="['/cursos/editar', course.id]"></span>
              </div>
              <div class="col-sm-8 col-lg-10 p-2">
              <h4>{{course.name}}</h4>
              <span>{{course.issuingAuthority}}</span><br>
              <span>Fecha de expedición: </span>
              <span><time>{{course.expeditionDate}}</time></span>
              <br>
              <span *ngIf="course.credentialId !== ''">IdCredential: {{course.credentialId}}<br></span>
              <span *ngIf="course.credentialUrl !== ''">UrlCredential: <a href="https://{{course.credentialUrl}}" target="_blank">{{course.credentialUrl}}</a><br></span>
              <span *ngIf="course.comments !== ''">Comentarios: {{course.comments}}</span>
            </div>
            <div class="col-auto d-block pt-2">
              <div>
                <button pButton pRipple icon="pi pi-pencil" 
              class="p-button-rounded p-button-success "
              [routerLink]="['/cursos/editar', course.id]"
              title="Editar"
              ></button>
              </div>
              <div>
                 <button pButton pRipple icon="pi pi-trash" 
              class="p-button-rounded p-button-warning mt-2"
              [routerLink]="['/cursos/eliminar', course.id]"
              title="Eliminar"
              ></button>
              </div>          
            </div>  
            </div>   
  </li>
  </ul>  
  </div>
  </div>
