<div class="container">
 <img class="imgPerfil" src="/assets/img/FotoPerfil.jfif" alt="Foto Perfil">
</div>

<div class="container">
    <div class="card-present">
        <div>
          <h2>Desarrollador Full Stack Jr</h2>
          <div>
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
          </div>
        </div>
        <div>
          <p>Mi nombre es {{usuario.nombre}} {{usuario.apellido}}  Lorem ipsum dolor sit amet consectetur adipisicing elit.que tenetur explicabo voluptates quae libero delenitique tenetur explicabo voluptates quae libero deleniti Eaque tenetur explicabo voluptates quae libero deleniti praesentium.</p>
        </div>
      </div>
</div>

