
.card-group {
    border-radius: 24px;
    margin: 10px 0px;
    padding: 20px 10px 10px 20px;
    border: 1px solid #ccc;
    display: block;
}

ul{
    list-style-type: none;
 }
 
 li{
    margin:10px 15px 15px 50px;
}