html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
}

/* .text-layout {
    color: var(--text-color);
} */

.card-group {
    border-radius: 24px;
    margin-top: 10px;
    padding: 20px 10px 10px 20px;
    border: 1px solid #ADB9D3;
    display: flex;
}

ul{
    list-style-type: none;
 }
 
 li{
    margin:10px 15px 15px 50px;
}

.prueba{
  background-color: black;

}


.divmenu{
    min-width: 200px !important;
}