<div>
   
  <div class="card-container">
    <button class="card card-small" tabindex="0">
      <span>Experiencia</span>
    </button>
  </div>
  <div class="card-container">
    <button class="card card-small" tabindex="0">
      <span>Educación</span>
    </button>
  </div>
  <div class="card-container">
    <button class="card card-small" tabindex="0">
      <span>Cursos</span>
    </button>
  </div>
  <div class="card-container">
    <button class="card card-small" tabindex="0">
      <span>Habilidades</span>
    </button>
  </div>

</div>

