

    <footer class="container fixed-botton mt-7" >  
    
        <div class="container footer border-top mb-3" style="background-color: var(--surface-b);">
            <div class="row mt-1  align-items-center">
                <div class="col-md-6">
                    <span>Copyright © 2022, All Right Reserved</span>
                </div>
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a [routerLink]="['/acercade']">Home</a>
                            </li>
                            <li>
                                <a [routerLink]="['/contacto']">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
